<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Fitness</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="~/fonts/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/fonts/elegant-fonts.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/zabuto_calendar.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/revolution/css/settings.css" type="text/css">
    <link rel="stylesheet" href="~/Content/revolution/css/layers.css" type="text/css">
    <link rel="stylesheet" href="~/Content/revolution/css/navigation.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" />



    <script src="~/scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="overlay"></div>

    <div class="outer-wrapper">
        <div class="page-wrapper">

            <header class="navigation" id="top">
                <div class="container">
                    <div class="secondary-nav">
                        <span><a href="mailto:hello@example.com"><i class="icon_mail"></i>hello@example.com</a></span>
                        <span><i class="icon_phone"></i>719-222-7995</span>
                    </div>
                    <!--/.secondary-nav-->
                    <div class="main-nav">
                        <div class="brand"><a href="index.html"><img src="assets/img/logo.png" alt=""></a></div><!--/.brand-->
                        <nav>
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Me</a></li>
                                <li><a href="change-your-life.html">Change Your Life</a></li>
                                <li><a href="workshops.html">Workshops</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="meet-me.html">Meet Me</a></li>
                            </ul>
                            <div class="nav-toggle"><i class="icon_menu"></i></div>
                        </nav>
                        <a href="#make-an-appointment" class="icon-shortcut"><i class="icon_calendar" title="Make an Appointment"></i></a><!--/.icon-->
                    </div>
                    <!--/.main-nav-->
                </div>
                <!--/.container-->
            </header>
            <!--/.header-->

            <div class="page-content">
                @RenderBody()
                <hr />
                <footer>
                    
                </footer>
            </div>
        
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <div class="left">
                                <p>&copy; @DateTime.Now.Year - Fitness</p>
                                <div class="bg-left"></div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="right">
                                <span><a href="#top" class="scroll">To Top<i class="arrow_carrot-up_alt2"></i></a></span>
                                <div class="bg-right"><img src="assets/img/footer-bg.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ .container-->
            </footer>

        </div>
    </div>

    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Make an Appointment</h2>
                    <h4>Select the Time</h4>
                </div>
                <div class="modal-body">
                    <div class="times">
                        <form id="form-calendar">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn time-radio">
                                    <input type="radio" name="options" id="option1"><figure class="time">08:00</figure>
                                    <span>Available</span>
                                </label>
                                <label class="btn time-radio">
                                    <input type="radio" name="options" id="option2"><figure class="time">09:00</figure>
                                    <span>Available</span>
                                </label>
                                <label class="btn time-radio">
                                    <input type="radio" name="options" id="option3"><figure class="time">10:00</figure>
                                    <span>Available</span>
                                </label>
                                <label class="btn time-radio">
                                    <input type="radio" name="options" id="option4"><figure class="time">11:00</figure>
                                    <span>Available</span>
                                </label>
                                <label class="btn time-radio not-available">
                                    <input type="radio" name="options" id="option5"><figure class="time">12:00</figure>
                                    <span>Not available</span>
                                </label>
                                <label class="btn time-radio">
                                    <input type="radio" name="options" id="option6"><figure class="time">13:00</figure>
                                    <span>Available</span>
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control framed" name="modal-first-name" placeholder="First Name" required>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control framed" name="modal-last-name" placeholder="Last Name" required>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control framed" name="modal-email" placeholder="E-mail" required>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control framed" name="modal-number" placeholder="Number" pattern="\d*" required>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="pull-left"><div class="form-status" id="form-calendar-status"></div></div>
                                <div class="form-group">
                                    <button type="submit" class="btn pull-right btn-primary" id="form-contact-submit">Contact Me</button>
                                </div><!-- /.form-group -->
                                <input type="date" class="hidden" name="modal-date" id="modal-date" pattern="\d*" required hidden readonly>
                                <input type="time" class="hidden" name="modal-time" id="modal-time" pattern="\d*" required hidden readonly>
                            </div>
                        </form>
                    </div><!-- /.times -->
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="~/scripts/bootstrap.min.js"></script>

    <script src="~/scripts/js/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/js/bootstrap-select.min.js"></script>
    <script src="~/scripts/js/zabuto_calendar.min.js"></script>
    <script src="~/scripts/js/jquery.validate.min.js"></script>

    <script src="~/scripts/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/scripts/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/scripts/revolution/js/extensions/revolution.extension.parallax.min.js"></script>

    <script src="~/scripts/custom.js"></script>

    <!--[if lte IE 9]>
        <script src="assets/js/ie.js"></script>
    <![endif]-->

</body>
</html>